.select_bar {
  width: 700px;
  /* box-shadow: 0 0 8px lightgray; */
  border: 1px solid rgb(236, 232, 232);
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  transition: 200ms all ease-in-out;
}

.calendar_off {
  background-color: white;
}

.calendar_on {
  background-color: rgb(244, 244, 244);
}

.select_bar div {
  padding: 10px 26px;
  border-radius: 32px;
  cursor: pointer;
}

.calendar_off div:hover {
  background-color: rgb(244, 244, 244);
  transition: 200ms all ease-in-out;
}

.calendar_on div:hover {
  background-color: rgba(138, 136, 136, 0.1);
  transition: 200ms all ease-in-out;
}

.item_select {
  flex-basis: 40%;
  height: 100%;
}

.start {
  flex-basis: 30%;
  height: 100%;
  position: relative;
}

.calendar_off .start::after,
.calendar_off .end::after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  width: 1px;
  height: 60%;
  background-color: lightgray;
}

.start:hover::after {
  visibility: hidden;
}

.end {
  flex-basis: 30%;
  height: 100%;
  position: relative;
}

.end:hover::after {
  visibility: hidden;
}

.confirm_button {
  width: 43px;
  height: 43px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7.5px;
  background-color: #ff8e9e;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 300ms all ease-in-out;
}

.confirm_button svg {
  color: white;
  font-size: 17px;
  line-height: calc(100% - 15px);
}

.confirm_button:hover {
  background-color: #eb7686;
  transition: 200ms all ease-in-out;
}

.title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.value {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.select_on {
  background-color: white;
  box-shadow: 0 0 10px rgb(226, 222, 222);
  padding: 0 10px;
  z-index: 2;
  transition: 200ms all ease-in-out;
}

.select_on:hover {
  background-color: white !important;
}

@media screen and (max-width: 768px) {
  .select_bar {
    width: 100%;
  }
  .item_select,
  .start,
  .end {
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 460px) {
  .select_bar {
    position: initial;
  }
  .confirm_button {
    top: auto;
    right: auto;
    bottom: -80px;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    transition: none;
  }

  .confirm_button svg {
    font-size: 20px;
  }
}
