.carousel {
  margin: auto;
  overflow: hidden;
}
.carousel_list {
  display: flex;
  flex-direction: row;
}
.carousel img {
  margin: 0 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  -webkit-user-drag: none;
}
