.list {
  width: 300px;
  height: 350px;
  border: 1px solid rgb(236, 232, 232);
  border-radius: 20px;
  padding: 16px;
  list-style: none;
  box-shadow: 0 0 10px rgb(226, 222, 222);
  overflow-y: scroll;
  margin: 0;
  transform: translateY(15px);
  animation: 300ms appear;
}

.list li {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.list li:hover {
  background-color: hsla(13, 85%, 92%, 0.5);
  color: #ff6464;
}

@media screen and (max-width: 460px) {
  .list {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(15px);
  }
}
